.select-product {
	height: 18em;
	width: 15em;
	background-color: var(--clr-background);
	position: absolute;
	bottom: 3em;
	left: 2em;
	right: 2em;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	opacity: 0.92;
	border: 1px solid #cccc;
	z-index: 100;
}

.product-size-container {
	height: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1em auto;
	height: auto;
	position: relative;
	top: 0;
	font-size: 1.2em;
}

.product-size {
	width: 40%;
	margin: 0 1em;
}

.product-quantity {
	width: 90%;
	margin: 0.5em auto 0 auto;
}

.product-cost {
	margin: 1em;
}
.add-remove-btn {
	margin: 0;
}

.add-to-cart-btn {
	border: solid 0.5px var(--clr-primary);
	color: black;
	font-weight: 700;
	padding: 0.5em;
	background-color: transparent;
	position: relative;
	bottom: 0;
	width: 100%;
}

.close-btn-container {
	position: relative;
	margin-bottom: 0.5em;
	height: 2em;
	width: 100%;
}
.close-btn {
	position: absolute;
	right: 10px;
	top: 10px;
	margin-bottom: 1em;
	font-size: 2em;
	cursor: pointer;
}
